/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  background-color: rgba(86, 100, 179, 0.88);
  color: #333;
  margin: 0;
  padding: 20px;
}

h2, h3 {
  color: #444;
  text-align:center; ;
}

/* Container principal */
.container {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  gap: 30px;
  margin-top: 20px;
}

/* Style des cartes */
.card {
  background-color: #3b5c61;
  padding: 20px;
  border: solid 1px #302d15;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Souligner le texte si le livre est lu */
.souligne {
  text-decoration: underline;
}

/* Formulaire */
form {
  background-color: #817c39;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-bottom: 30px;
}

form p {
  margin-bottom: 15px;
}

form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="checkbox"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  background-color: #5cb85c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

form button:hover {
  background-color: #4cae4c;
}

/* Améliorer l'alignement des labels et inputs */
form div {
  display: flex;
  align-items: center;
}

form input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

/* Ajustements pour mobile */
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  form {
    width: 100%;
  }
}
li{
  list-style: none;
}
